main.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: $main-container-margin;

  .flex-block-6 {
    width: 50%;
    margin: 10px 0;
  }

  .flex-block-12 {
    @extend .flex-block-6;
    width: 100%;
  }

  .block-title-wrapper {
    position: relative;
    
    .title {
      margin-left: 20px;
      display: inline;
      text-transform: uppercase;

      &::after {
        position: absolute;
        bottom: 0;
        left: -12px;
        width: 350px;
        height: 3px;
        background-color: $primary-color;
        content: '';
      }
    }

    .fa {
      padding: 10px 0;
      font-size: 2rem;
      color: $secondary-color;
      
      &::after {
        position: absolute;
        bottom: 0;
        left: -15px;
        width: 3px;
        height: 3rem;
        background-color: $primary-color;
        content: '';
      }
    }
  }

  .block-content {
    width: 90%;
  }
}


.profile-table {
  margin-top: 16px;

  .fa {
    width: 30px;
    color: $secondary-color;
  }
}

.list-container {
  ul {
    padding: 0;

    li {
      margin: 5px 0;
      list-style: none;
  
      &::before {
        margin-right: 10px;
        font-family: FontAwesome;
        color: $secondary-color;
      }
  
      &.code::before {
        content: '\f121';
      }
  
      &.star::before {
        content: '\f005';
      }
    }
  }
}