main.flex-container
  section.flex-block-6
    div.block-title-wrapper
      i.fa.fa-user
      h1.title Summary
    div.block-content
      include ../sections/summary
  section.flex-block-6
    div.block-title-wrapper
      i.fa.fa-id-badge
      h1.title Profile
    div.block-content
      include ../sections/profile