main.flex-container
  section.flex-block-6
    div.block-title-wrapper
      i.fa.fa-user
      h1.title Summary
    div.block-content
      include ../sections/summary
  section.flex-block-6
    div.block-title-wrapper
      i.fa.fa-id-badge
      h1.title Profile
    div.block-content
      include ../sections/profile
  section.flex-block-6
    div.block-title-wrapper
      i.fa.fa-cogs
      h1.title Skills
    div.block-content
      include ../sections/skills
  section.flex-block-6
    div.block-title-wrapper
      i.fa.fa-graduation-cap
      h1.title Education
    div.block-content
      include ../sections/education
  section.flex-block-6
    div.block-title-wrapper
      i.fa.fa-book
      h1.title Other
    div.block-content
      include ../sections/other
  

