div.list-container
  ul
    li.star English assessment: A1/A1+ (Speaking/Writing), 10 Jul 2017.
    li.star eKids trainer.
    li.star FrontSpot Hackathon 2018, the 3rd place.
    li.star FinTech Global Hackathon 2018, the 3rd place.