table(cellpadding="7").profile-table
  tr
    td.bold.to-uppercase 
      i.fa.fa-birthday-cake
      span Birthday
    td 04.06.1997
  tr
    td.bold.to-uppercase 
      i.fa.fa-globe
      span Nationality
    td Belarus
  tr
    td.bold.to-uppercase
      i.fa.fa-graduation-cap
      span Status
    td Student

table(cellpadding="7").profile-table
  tr
    td.bold.to-uppercase
      i.fa.fa-mobile
      span Mobile
    td +375 25 636-6268
  tr
    td.bold.to-uppercase
      i.fa.fa-envelope
      span Email
    td ibelieveinarabbit@gmail.com
  tr
    td.bold.to-uppercase
      i.fa.fa-skype
      span Skype
    td dmitriy.kunets
  tr
    td.bold.to-uppercase
      i.fa.fa-telegram
      span Telegram
    td
      a(href="https://t.me/bratec_krolik") @bratec_krolik
  tr
    td.bold.to-uppercase
      i.fa.fa-facebook
      span Facebook
    td
      a(href="https://www.facebook.com/profile.php?id=100013501114050") Dmitriy Kunets
