div.list-container
  ul
    li.code JavaScript (ES5, ES2015)
    li.code HTML5 (PUG)
    li.code CSS (SCSS)
    li.code SQL
    li.code C#
  ul
    li.code Node.js
    li.code Vue.js
  ul
    li.code MySQL
    li.code MongDb