p.
  I like to learn something new both in web technologies and in programming. 
  My goal is to learn something new and improve my skills in JavaScript and JS frameworks. 
  It is interesting for me and I am ready to spend a lot of time on it.
p.
  Also I love to participate in hackathons, it is amazing to do something crazy for 48 hours.
